<div class="" *ngFor="let news of currentFeed">
    <hr>
    <div class="container">
        <div class="author"><b>{{news.author}}</b></div>
        <div class="title">{{news.title}}</div>
        <div class="url">{{news.url}}</div>
        <div class="description">{{news.description}}</div>
        <img src="{{news.urlToImage}}" style="width: 100px;" alt="" srcset="">
        <div class="publishedAt">{{news.publisedAd}}</div>
        <div class="content">{{news.content}}</div>
    </div>
    <hr>    
</div>

<br>

<button (click)="PaginatorIncrease()" [disabled]="!increasePaginator">+</button>
<div class="">{{currentPage}}</div>
<button (click)="PaginatorDecrease()" [disabled]="!decreasePaginator">-</button>