<p>new-form works!</p>

<form [formGroup] = "profileForm" (ngSubmit) = "onSubmit()">
    <label for="searchQuery"> 
        <input type="text" formControlName="searchQuery" placeholder="search query" required>
    </label>

    <div *ngIf="searchQuery.invalid && (searchQuery.dirty || searchQuery.touched)"
    class="alert alert-danger">
        <div *ngIf="searchQuery.errors.required">
            A word is required.
        </div>
    </div>
    
    <br>
    <div formGroupName="sources">
        <input type="radio" formControlName="abcnews" value="abc-news">
        <label for="vehicle1"> ABC News</label><br>
        <input type="radio" formControlName="bbcnews" value="bbc-news">
        <label for="vehicle2"> BBC News</label><br>
        <input type="radio" formControlName="bbcsport" value="bbc-sport">
        <label for="vehicle3"> BBC Sport</label><br>
        <input type="radio" formControlName="espn" value="espn">
        <label for="vehicle1"> ESPN</label><br>
        <input type="radio" formControlName="businessinsider" value="business-insider">
        <label for="vehicle2"> Business Insider</label><br>
        <input type="radio" formControlName="buzzfeed" value="buzzfeed">
        <label for="vehicle3"> Buzzfeed</label><br>
        <input type="radio" formControlName="cnbc" value="cnbc">
        <label for="vehicle2"> CNBC</label><br>
        <input type="radio" formControlName="cnn" value="cnn">
        <label for="vehicle3"> CNN</label><br>
    </div>
    <button [disabled]="profileForm.invalid">send</button>
</form>